body { 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background: #1b2837;
}
p2 {
 position: relative;
 top: -385px;
 color: #FFEFD5;
}
h1 {
padding: 100px;
margin: -60px;
color: #FFEFD5;
min-height: 100vh;
}
div {
 display: flex;
 height: 55px;
 width: 212px;
}
button {
position: relative;
top: -16px;
height: 57px;
margin: 1px;
width: 210px;
}
input {
  margin-bottom: 40px;
  padding: 20px;
  left: 30px;
}
label {
color: #FFEFD5;
position: relative;
  left: -200px;
  top: 40px;
}
nav {
color: #FFEFD5;
position: relative;
  padding: 1px;
  left: 240px;
  top: -485px;
}
article {
color: #FFEFD5;
  }
p {
 color: #FFEFD5;
}
 
