h3 { 
  font-family: Tahoma;
}
body { 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background: #1b2837;
}
p {
top: -510px;
position: relative;
right: -235px;
height: 15px;
margin: 20px;
width: 200px;
color: #FFEFD5;
min-height: 100vh;
padding: 10px;
min-height: 1px
}
h1 {
position: relative;
padding: 90px;
right: -235px;
height: 15px;
margin: -60px;
width: 200px;
color: #FFEFD5;
min-height: 100vh;
}
div {
 display: flex;
 height: 55px;
 width: 212px;
}
button {
position: relative;
top: -16px;
height: 57px;
margin: 1px;
width: 210px;
}
input {
  margin-bottom: 40px;
  padding: 20px;
  left: 30px;
}
label {
color: #FFEFD5;
position: relative;
  left: -200px;
  top: 40px;
}
nav {
color: #FFEFD5;
position: relative;
  padding: 1px;
  left: 240px;
  top: -540px;
}


